.kt-container.kt-grid__item.kt-grid__item--fluid
  .row
    .col-md-6
      .kt-portlet
        .kt-portlet__head
          .kt-portlet__head-label
            %h3.kt-portlet__head-title
              Welcome to the family
    .col-md-6
      / begin::Form
      / begin::Portlet
      .kt-portlet
        .kt-portlet__head
          .kt-portlet__head-label
            %h3.kt-portlet__head-title
              Base Controls
        / begin::Form
      
        %form.kt-form{:action => "/dashboard/channels.json", :method => "post"}
          .kt-portlet__body
          
            -# .form-group.form-group-last
            -#   .alert.alert-secondary{:role => "alert"}
            -#     .alert-icon
            -#       %i.flaticon-warning.kt-font-brand
            -#     .alert-text
            -#       The example form below demonstrates common HTML form elements that receive updated styles from Bootstrap with additional classes.
            
            .form-group
              %label Nomde do Canal
              %input.form-control{"aria-describedby" => "emailHelp", :placeholder => "Insere o nome do Canal", :type => "text"}/
              %span.form-text.text-muted We'll never share your email with anyone else.

          .kt-portlet__foot
            .kt-form__actions
              %button.btn.btn-primary{:type => "submit"} Submit
              %button.btn.btn-secondary{:type => "reset"} Reset
          
            -# = submit_tag("Search")

        / end::Form
      / end::Portlet

-# -# = render 'form', channel: @channel
-# .kt-container.kt-grid__item.kt-grid__item--fluid

-#   .kt-portlet
-#     .kt-portlet__body.kt-portlet__body--fit
-#       .kt-grid__item
-#         / begin: Form Wizard Form
-#         %form#kt_form.kt-form{:novalidate => "novalidate"}
-#           / begin: Form Wizard Step 1
-#           .form-group
-#             %label Name
-#             %input.form-control{:name => "address1", :placeholder => "Address Line 1", :type => "text", :value => "Address Line 1"}/
-#             %span.form-text.text-muted Inserte o nome do canal.
-#           .row
-#             .col-xl-6
-#               .form-group
-#                 %label State
-#                 %input.form-control{:name => "state", :placeholder => "State", :type => "text", :value => "VIC"}/
-#                 %span.form-text.text-muted Please enter your Postcode.

-#             .col-xl-6
-#               .form-group
-#                 %label Country:
-#                 %select.form-control{:name => "country"}
-#                   %option{:value => ""} Select
-#                   %option{:value => "AF"} Afghanistan
-#                   %option{:value => "AX"} Åland Islands
-#                   %option{:value => "AL"} Albania
-#                   %option{:value => "DZ"} Algeria
-#                   %option{:value => "AS"} American Samoa
-#                   %option{:value => "AD"} Andorra
-#                   %option{:value => "AO"} Angola
-#           / end: Form Wizard Step 1
-#           / begin: Form Actions
-#           .kt-form__actions
-#             %button.btn.btn-secondary.btn-md.btn-tall.btn-wide.kt-font-bold
-#               -# .kt-font-transform-u{"data-ktwizard-type" => "action-prev"}
-#               Previous
-#             %button.btn.btn-success.btn-md.btn-tall.btn-wide.kt-font-bold
-#               -# .kt-font-transform-u{"data-ktwizard-type" => "action-submit"}
-#               Submit
-#             %button.btn.btn-brand.btn-md.btn-tall.btn-wide.kt-font-bold
-#               -# .kt-font-transform-u{"data-ktwizard-type" => "action-next"}
-#               Next Step
-#           / end: Form Actions
-#         = link_to 'Back', channels_path

-#     / end: Form Wizard Form
