<p id="notice"><%= notice %></p>

<h1>Platforms</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @platforms.each do |platform| %>
      <tr>
        <td><%= platform.name %></td>
        <td><%= link_to 'Show', admin_platform_path(platform) %></td>
        <td><%= link_to 'Edit', edit_admin_platform_path(platform) %></td>
        <td><%= link_to 'Destroy', admin_platform_path(platform), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Platform', new_admin_platform_path %>
