#kt_todo_aside.kt-grid__item.kt-portlet.kt-todo__aside
  .kt-todo__nav
    %ul.kt-nav
      %li.kt-nav__item
        %span.kt-nav__link-title User
      
      %li.kt-nav__item
        -# = binding.pry
      -#   %a.kt-nav__link{"data-action" => "list", "data-type" => "inbox", :href => profile_path}
      -#     %svg.kt-svg-icon.kt-nav__link-icon{:height => "24px", :version => "1.1", :viewbox => "0 0 24 24", :width => "24px", :xmlns => "http://www.w3.org/2000/svg", "xmlns:xlink" => "http://www.w3.org/1999/xlink"}
      -#       %g{:fill => "none", "fill-rule" => "evenodd", :stroke => "none", "stroke-width" => "1"}
      -#         %rect{:height => "24", :width => "24", :x => "0", :y => "0"}
      -#         %path{:d => "M2.56066017,10.6819805 L4.68198052,8.56066017 C5.26776695,7.97487373 6.21751442,7.97487373 6.80330086,8.56066017 L8.9246212,10.6819805 C9.51040764,11.267767 9.51040764,12.2175144 8.9246212,12.8033009 L6.80330086,14.9246212 C6.21751442,15.5104076 5.26776695,15.5104076 4.68198052,14.9246212 L2.56066017,12.8033009 C1.97487373,12.2175144 1.97487373,11.267767 2.56066017,10.6819805 Z M14.5606602,10.6819805 L16.6819805,8.56066017 C17.267767,7.97487373 18.2175144,7.97487373 18.8033009,8.56066017 L20.9246212,10.6819805 C21.5104076,11.267767 21.5104076,12.2175144 20.9246212,12.8033009 L18.8033009,14.9246212 C18.2175144,15.5104076 17.267767,15.5104076 16.6819805,14.9246212 L14.5606602,12.8033009 C13.9748737,12.2175144 13.9748737,11.267767 14.5606602,10.6819805 Z", :fill => "#000000", :opacity => "0.3"}
      -#         %path{:d => "M8.56066017,16.6819805 L10.6819805,14.5606602 C11.267767,13.9748737 12.2175144,13.9748737 12.8033009,14.5606602 L14.9246212,16.6819805 C15.5104076,17.267767 15.5104076,18.2175144 14.9246212,18.8033009 L12.8033009,20.9246212 C12.2175144,21.5104076 11.267767,21.5104076 10.6819805,20.9246212 L8.56066017,18.8033009 C7.97487373,18.2175144 7.97487373,17.267767 8.56066017,16.6819805 Z M8.56066017,4.68198052 L10.6819805,2.56066017 C11.267767,1.97487373 12.2175144,1.97487373 12.8033009,2.56066017 L14.9246212,4.68198052 C15.5104076,5.26776695 15.5104076,6.21751442 14.9246212,6.80330086 L12.8033009,8.9246212 C12.2175144,9.51040764 11.267767,9.51040764 10.6819805,8.9246212 L8.56066017,6.80330086 C7.97487373,6.21751442 7.97487373,5.26776695 8.56066017,4.68198052 Z", :fill => "#000000"}
      -#     %span.kt-nav__link-text My Profile
      
      -# %li.kt-nav__item.kt-nav__item--active
      -#   %a.kt-nav__link{"data-action" => "list", "data-type" => "marked", :href => settings_path}
      -#     %svg.kt-svg-icon.kt-nav__link-icon{:height => "24px", :version => "1.1", :viewbox => "0 0 24 24", :width => "24px", :xmlns => "http://www.w3.org/2000/svg", "xmlns:xlink" => "http://www.w3.org/1999/xlink"}
      -#       %g{:fill => "none", "fill-rule" => "evenodd", :stroke => "none", "stroke-width" => "1"}
      -#         %rect{:height => "24", :width => "24", :x => "0", :y => "0"}
      -#         %path{:d => "M8,3 L8,3.5 C8,4.32842712 8.67157288,5 9.5,5 L14.5,5 C15.3284271,5 16,4.32842712 16,3.5 L16,3 L18,3 C19.1045695,3 20,3.8954305 20,5 L20,21 C20,22.1045695 19.1045695,23 18,23 L6,23 C4.8954305,23 4,22.1045695 4,21 L4,5 C4,3.8954305 4.8954305,3 6,3 L8,3 Z", :fill => "#000000", :opacity => "0.3"}
      -#         %path{:d => "M10.875,15.75 C10.6354167,15.75 10.3958333,15.6541667 10.2041667,15.4625 L8.2875,13.5458333 C7.90416667,13.1625 7.90416667,12.5875 8.2875,12.2041667 C8.67083333,11.8208333 9.29375,11.8208333 9.62916667,12.2041667 L10.875,13.45 L14.0375,10.2875 C14.4208333,9.90416667 14.9958333,9.90416667 15.3791667,10.2875 C15.7625,10.6708333 15.7625,11.2458333 15.3791667,11.6291667 L11.5458333,15.4625 C11.3541667,15.6541667 11.1145833,15.75 10.875,15.75 Z", :fill => "#000000"}
      -#         %path{:d => "M11,2 C11,1.44771525 11.4477153,1 12,1 C12.5522847,1 13,1.44771525 13,2 L14.5,2 C14.7761424,2 15,2.22385763 15,2.5 L15,3.5 C15,3.77614237 14.7761424,4 14.5,4 L9.5,4 C9.22385763,4 9,3.77614237 9,3.5 L9,2.5 C9,2.22385763 9.22385763,2 9.5,2 L11,2 Z", :fill => "#000000"}
      -#     %span.kt-nav__link-text Properties
          -# %span.kt-nav__link-badge
          -#   %span.kt-badge.kt-badge--unified-success.kt-badge--md.kt-badge--rounded.kt-badge--boldest 3
      
      -# %li.kt-nav__item
      -#   %a.kt-nav__link{"data-action" => "list", "data-type" => "draft", :href => dashboard_platforms_path}
      -#     %svg.kt-svg-icon.kt-nav__link-icon{:height => "24px", :version => "1.1", :viewbox => "0 0 24 24", :width => "24px", :xmlns => "http://www.w3.org/2000/svg", "xmlns:xlink" => "http://www.w3.org/1999/xlink"}
      -#       %g{:fill => "none", "fill-rule" => "evenodd", :stroke => "none", "stroke-width" => "1"}
      -#         %rect{:height => "24", :width => "24", :x => "0", :y => "0"}
      -#         %rect{:fill => "#000000", :height => "7", :rx => "1.5", :width => "7", :x => "4", :y => "4"}
      -#         %path{:d => "M5.5,13 L9.5,13 C10.3284271,13 11,13.6715729 11,14.5 L11,18.5 C11,19.3284271 10.3284271,20 9.5,20 L5.5,20 C4.67157288,20 4,19.3284271 4,18.5 L4,14.5 C4,13.6715729 4.67157288,13 5.5,13 Z M14.5,4 L18.5,4 C19.3284271,4 20,4.67157288 20,5.5 L20,9.5 C20,10.3284271 19.3284271,11 18.5,11 L14.5,11 C13.6715729,11 13,10.3284271 13,9.5 L13,5.5 C13,4.67157288 13.6715729,4 14.5,4 Z M14.5,13 L18.5,13 C19.3284271,13 20,13.6715729 20,14.5 L20,18.5 C20,19.3284271 19.3284271,20 18.5,20 L14.5,20 C13.6715729,20 13,19.3284271 13,18.5 L13,14.5 C13,13.6715729 13.6715729,13 14.5,13 Z", :fill => "#000000", :opacity => "0.3"}
      -#     %span.kt-nav__link-text Plataformas

          -# %span.kt-nav__link-badge
          -#   %span.kt-badge.kt-badge--unified-warning.kt-badge--md.kt-badge--rounded.kt-badge--boldest 1
      %li.kt-nav__item.kt-margin-t-20.kt-margin-b-20
        %span.kt-nav__link-title TeamSpeak
      
      %li.kt-nav__item
        %a.kt-nav__link{"data-action" => "list", "data-type" => "draft", :href => "#"}
          %svg.kt-svg-icon.kt-nav__link-icon{:height => "24px", :version => "1.1", :viewbox => "0 0 24 24", :width => "24px", :xmlns => "http://www.w3.org/2000/svg", "xmlns:xlink" => "http://www.w3.org/1999/xlink"}
            %g{:fill => "none", "fill-rule" => "evenodd", :stroke => "none", "stroke-width" => "1"}
              %rect{:height => "24", :width => "24", :x => "0", :y => "0"}
              %path{:d => "M5,3 L6,3 C6.55228475,3 7,3.44771525 7,4 L7,20 C7,20.5522847 6.55228475,21 6,21 L5,21 C4.44771525,21 4,20.5522847 4,20 L4,4 C4,3.44771525 4.44771525,3 5,3 Z M10,3 L11,3 C11.5522847,3 12,3.44771525 12,4 L12,20 C12,20.5522847 11.5522847,21 11,21 L10,21 C9.44771525,21 9,20.5522847 9,20 L9,4 C9,3.44771525 9.44771525,3 10,3 Z", :fill => "#000000"}
              %rect{:fill => "#000000", :height => "18", :opacity => "0.3", :rx => "1", :transform => "translate(17.825568, 11.945519) rotate(-19.000000) translate(-17.825568, -11.945519) ", :width => "3", :x => "16.3255682", :y => "2.94551858"}
          %span.kt-nav__link-text Info

      %li.kt-nav__item
        %a.kt-nav__link{"data-action" => "list", "data-type" => "draft", :href => "#"}
          %svg.kt-svg-icon.kt-nav__link-icon{:height => "24px", :version => "1.1", :viewbox => "0 0 24 24", :width => "24px", :xmlns => "http://www.w3.org/2000/svg", "xmlns:xlink" => "http://www.w3.org/1999/xlink"}
            %g{:fill => "none", "fill-rule" => "evenodd", :stroke => "none", "stroke-width" => "1"}
              %rect{:height => "24", :width => "24", :x => "0", :y => "0"}
              %path{:d => "M5,3 L6,3 C6.55228475,3 7,3.44771525 7,4 L7,20 C7,20.5522847 6.55228475,21 6,21 L5,21 C4.44771525,21 4,20.5522847 4,20 L4,4 C4,3.44771525 4.44771525,3 5,3 Z M10,3 L11,3 C11.5522847,3 12,3.44771525 12,4 L12,20 C12,20.5522847 11.5522847,21 11,21 L10,21 C9.44771525,21 9,20.5522847 9,20 L9,4 C9,3.44771525 9.44771525,3 10,3 Z", :fill => "#000000"}
              %rect{:fill => "#000000", :height => "18", :opacity => "0.3", :rx => "1", :transform => "translate(17.825568, 11.945519) rotate(-19.000000) translate(-17.825568, -11.945519) ", :width => "3", :x => "16.3255682", :y => "2.94551858"}
          %span.kt-nav__link-text Grupos

      %li.kt-nav__item.kt-margin-t-20.kt-margin-b-20
        %span.kt-nav__link-title Canais


      %li.kt-nav__item
        %a.kt-nav__link{"data-action" => "list", "data-type" => "marked", :href => "/dashboard/channels/edit"}
          %svg.kt-svg-icon.kt-nav__link-icon{:height => "24px", :version => "1.1", :viewbox => "0 0 24 24", :width => "24px", :xmlns => "http://www.w3.org/2000/svg", "xmlns:xlink" => "http://www.w3.org/1999/xlink"}
            %g{:fill => "none", "fill-rule" => "evenodd", :stroke => "none", "stroke-width" => "1"}
              %polygon{:points => "0 0 24 0 24 24 0 24"}
              %path{:d => "M12.2928955,6.70710318 C11.9023712,6.31657888 11.9023712,5.68341391 12.2928955,5.29288961 C12.6834198,4.90236532 13.3165848,4.90236532 13.7071091,5.29288961 L19.7071091,11.2928896 C20.085688,11.6714686 20.0989336,12.281055 19.7371564,12.675721 L14.2371564,18.675721 C13.863964,19.08284 13.2313966,19.1103429 12.8242777,18.7371505 C12.4171587,18.3639581 12.3896557,17.7313908 12.7628481,17.3242718 L17.6158645,12.0300721 L12.2928955,6.70710318 Z", :fill => "#000000", "fill-rule" => "nonzero"}
              %path{:d => "M3.70710678,15.7071068 C3.31658249,16.0976311 2.68341751,16.0976311 2.29289322,15.7071068 C1.90236893,15.3165825 1.90236893,14.6834175 2.29289322,14.2928932 L8.29289322,8.29289322 C8.67147216,7.91431428 9.28105859,7.90106866 9.67572463,8.26284586 L15.6757246,13.7628459 C16.0828436,14.1360383 16.1103465,14.7686056 15.7371541,15.1757246 C15.3639617,15.5828436 14.7313944,15.6103465 14.3242754,15.2371541 L9.03007575,10.3841378 L3.70710678,15.7071068 Z", :fill => "#000000", "fill-rule" => "nonzero", :opacity => "0.3", :transform => "translate(9.000003, 11.999999) rotate(-270.000000) translate(-9.000003, -11.999999) "}
          %span.kt-nav__link-text Elite Portuguesa
      
      
      %li.kt-nav__item
        %a.kt-nav__link{"data-action" => "list", "data-type" => "trash", :href => ""}
          %i.kt-nav__link-icon.kt-nav__link-icon--size.fa.flaticon2-plus
          %span.kt-nav__link-text Criar Canal
      
      
