.kt-portlet.kt-portlet--mobile
  .kt-portlet__head
    .kt-portlet__head-label
      %h3.kt-portlet__head-title
        Basic Portlet
        %small portlet sub title
  .kt-portlet__body
    = yield 
/ end::Portlet