%h1 Login Page

= link_to image_tag("http://cdn.steamcommunity.com/public/images/signinthroughsteam/sits_large_noborder.png"), '/auth/steam'


%h3
  = link_to "Logout", "/logout"

- if session.key? :auth_user_id
  %h3 Login user:
  %p= session[:auth_user_id]
- if session.key? :user_id
  %h3 User:
  %p= session[:user_id]
