<%= form_with(model: default_channel_group, local: true) do |form| %>
  <% if default_channel_group.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(default_channel_group.errors.count, "error") %> prohibited this default_channel_group from being saved:</h2>

      <ul>
        <% default_channel_group.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :level %>
    <%= form.number_field :level %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
