<h1>Editing Default Channel Group</h1>

<%= render 'form', default_channel_group: @default_channel_group %>

<%= link_to 'Show', @default_channel_group %> |
<%= link_to 'Back', admin_default_channel_groups_path %>
