<p id="notice"><%= notice %></p>

<h1>Default Channel Groups</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Level</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @default_channel_groups.each do |default_channel_group| %>
      <tr>
        <td><%= default_channel_group.name %></td>
        <td><%= default_channel_group.level %></td>
        <td><%= link_to 'Show', default_channel_group %></td>
        <td><%= link_to 'Edit', edit_default_channel_group_path(default_channel_group) %></td>
        <td><%= link_to 'Destroy', default_channel_group, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Default Channel Group', new_admin_default_channel_groups_path %>
