<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @default_channel_group.name %>
</p>

<p>
  <strong>Level:</strong>
  <%= @default_channel_group.level %>
</p>

<%= link_to 'Edit', edit_default_channel_group_path(@default_channel_group) %> |
<%= link_to 'Back', admin_default_channel_groups_path %>
