.row
  = render layout: 'shared/dashboard' do
    - content_for :dashboard_navigation do
      = render 'shared/admin/nav'

    .kt-portlet
      / Begin:: Tasks Toolbar
      .kt-todo__header
        %h3.kt-todo__title TeamSpeak
      .portlet__body