%h1 New

- if session.key? :auth_user_id
  %p Login user:
  %p= session[:auth_user_id]


= form_with(model: @member, local: true) do |form|
  - if @member.errors.any?
    #error_explanation
      %h2
        = pluralize(@member.errors.count, "error")
        prohibited this user from being saved:
      %ul
        - @member.errors.full_messages.each do |message|
          %li= message
  .field
    = form.label :name
    = form.text_field :name
  .field
    = form.label :nickname
    = form.text_field :nickname
  .actions
    = form.submit



  