/ begin: Language bar
.kt-header__topbar-item.kt-header__topbar-item--langs
  .kt-header__topbar-wrapper{"data-offset" => "0px,10px", "data-toggle" => "dropdown"}
    %span.kt-header__topbar-icon
      %img{:alt => "", :src => image_url('/assets/flags/020-flag.svg')}/
  .dropdown-menu.dropdown-menu-fit.dropdown-menu-right.dropdown-menu-anim
    %ul.kt-nav.kt-margin-t-10.kt-margin-b-10
      %li.kt-nav__item.kt-nav__item--active
        %a.kt-nav__link{:href => "#"}
          %span.kt-nav__link-icon
            %img{:alt => "", :src => image_url('/assets/flags/020-flag.svg')}/
          %span.kt-nav__link-text English
      %li.kt-nav__item
        %a.kt-nav__link{:href => "#"}
          %span.kt-nav__link-icon
            %img{:alt => "", :src => image_url('/assets/flags/016-spain.svg')}/
          %span.kt-nav__link-text Spanish
      %li.kt-nav__item
        %a.kt-nav__link{:href => "#"}
          %span.kt-nav__link-icon
            %img{:alt => "", :src => image_url('/assets/flags/017-germany.svg')}/
          %span.kt-nav__link-text German
/ end: Language bar
