/ begin: Notifications
.kt-header__topbar-item.dropdown
  .kt-header__topbar-wrapper{"data-offset" => "0px,10px", "data-toggle" => "dropdown"}
    %span.kt-header__topbar-icon
      %i.flaticon2-bell-alarm-symbol
      %span.kt-badge.kt-badge--success.kt-hidden
  .dropdown-menu.dropdown-menu-fit.dropdown-menu-right.dropdown-menu-anim.dropdown-menu-xl
    %form
      / begin: Head
      .kt-head.kt-head--skin-light.kt-head--fit-x.kt-head--fit-b
        %h3.kt-head__title
          Notifications
            
          %span.btn.btn-label-primary.btn-sm.btn-bold.btn-font-md 23 new
        %ul.nav.nav-tabs.nav-tabs-line.nav-tabs-bold.nav-tabs-line-3x.nav-tabs-line-brand.kt-notification-item-padding-x{:role => "tablist"}
      
      .tab-content
        #topbar_notifications_notifications.tab-pane.active.show{:role => "tabpanel"}
          .kt-notification.kt-margin-t-10.kt-margin-b-10.kt-scroll.ps{"data-height" => "300", "data-mobile-height" => "200", "data-scroll" => "true", :style => "height: 300px; overflow: hidden;"}
            
            %a.kt-notification__item{:href => "#"}
              .kt-notification__item-icon
                %i.flaticon2-psd.kt-font-success
              .kt-notification__item-details
                .kt-notification__item-title
                  New report has been received
                .kt-notification__item-time
                  23 hrs ago
            %a.kt-notification__item{:href => "#"}
              .kt-notification__item-icon
                %i.flaticon-download-1.kt-font-danger
              .kt-notification__item-details
                .kt-notification__item-title
                  Finance report has been generated
                .kt-notification__item-time
                  25 hrs ago
            %a.kt-notification__item{:href => "#"}
              .kt-notification__item-icon
                %i.flaticon2-line-chart.kt-font-success
              .kt-notification__item-details
                .kt-notification__item-title
                  New order has been received
                .kt-notification__item-time
                  2 hrs ago
            %a.kt-notification__item{:href => "#"}
              .kt-notification__item-icon
                %i.flaticon2-box-1.kt-font-brand
              .kt-notification__item-details
                .kt-notification__item-title
                  New customer is registered
                .kt-notification__item-time
                  3 hrs ago
            %a.kt-notification__item{:href => "#"}
              .kt-notification__item-icon
                %i.flaticon2-chart2.kt-font-danger
              .kt-notification__item-details
                .kt-notification__item-title
                  Application has been approved
                .kt-notification__item-time
                  3 hrs ago
            %a.kt-notification__item{:href => "#"}
              .kt-notification__item-icon
                %i.flaticon2-image-file.kt-font-warning
              .kt-notification__item-details
                .kt-notification__item-title
                  New file has been uploaded
                .kt-notification__item-time
                  5 hrs ago
            %a.kt-notification__item{:href => "#"}
              .kt-notification__item-icon
                %i.flaticon2-drop.kt-font-info
              .kt-notification__item-details
                .kt-notification__item-title
                  New user feedback received
                .kt-notification__item-time
                  8 hrs ago
            %a.kt-notification__item{:href => "#"}
              .kt-notification__item-icon
                %i.flaticon2-pie-chart-2.kt-font-success
              .kt-notification__item-details
                .kt-notification__item-title
                  System reboot has been successfully completed
                .kt-notification__item-time
                  12 hrs ago
            %a.kt-notification__item{:href => "#"}
              .kt-notification__item-icon
                %i.flaticon2-favourite.kt-font-brand
              .kt-notification__item-details
                .kt-notification__item-title
                  New order has been placed
                .kt-notification__item-time
                  15 hrs ago
            %a.kt-notification__item.kt-notification__item--read{:href => "#"}
              .kt-notification__item-icon
                %i.flaticon2-safe.kt-font-primary
              .kt-notification__item-details
                .kt-notification__item-title
                  Company meeting canceled
                .kt-notification__item-time
                  19 hrs ago
            %a.kt-notification__item{:href => "#"}
              .kt-notification__item-icon
                %i.flaticon2-psd.kt-font-success
              .kt-notification__item-details
                .kt-notification__item-title
                  New report has been received
                .kt-notification__item-time
                  23 hrs ago
            %a.kt-notification__item{:href => "#"}
              .kt-notification__item-icon
                %i.flaticon-download-1.kt-font-danger
              .kt-notification__item-details
                .kt-notification__item-title
                  Finance report has been generated
                .kt-notification__item-time
                  25 hrs ago
            %a.kt-notification__item{:href => "#"}
              .kt-notification__item-icon
                %i.flaticon-security.kt-font-warning
              .kt-notification__item-details
                .kt-notification__item-title
                  New customer comment recieved
                .kt-notification__item-time
                  2 days ago
            %a.kt-notification__item{:href => "#"}
              .kt-notification__item-icon
                %i.flaticon2-pie-chart.kt-font-success
              .kt-notification__item-details
                .kt-notification__item-title
                  New customer is registered
                .kt-notification__item-time
                  3 days ago
            .ps__rail-x{:style => "left: 0px; bottom: 0px;"}
              .ps__thumb-x{:style => "left: 0px; width: 0px;", :tabindex => "0"}
            .ps__rail-y{:style => "top: 0px; right: 0px;"}
              .ps__thumb-y{:style => "top: 0px; height: 0px;", :tabindex => "0"}
        #topbar_notifications_logs.tab-pane{:role => "tabpanel"}
          .kt-grid.kt-grid--ver{:style => "min-height: 200px;"}
            .kt-grid.kt-grid--hor.kt-grid__item.kt-grid__item--fluid.kt-grid__item--middle
              .kt-grid__item.kt-grid__item--middle.kt-align-center
                All caught up!
                = succeed "No" do
                  %br/
  / end: Notifications