/ begin: User bar
.kt-header__topbar-item.kt-header__topbar-item--user
  .kt-header__topbar-wrapper{"data-offset" => "0px,10px", "data-toggle" => "dropdown"}
    %span.kt-header__topbar-welcome.kt-visible-desktop Hi,
    %span.kt-header__topbar-username.kt-visible-desktop Nick
    %img{:alt => "Pic", :src => image_url('/assets/users/300_21.jpg')}/
    %span.kt-header__topbar-icon.kt-bg-brand.kt-font-lg.kt-font-bold.kt-font-light.kt-hidden S
    %span.kt-header__topbar-icon.kt-hidden
      %i.flaticon2-user-outline-symbol
  .dropdown-menu.dropdown-menu-fit.dropdown-menu-right.dropdown-menu-anim.dropdown-menu-xl
    / begin: Head
    .kt-user-card.kt-user-card--skin-light.kt-notification-item-padding-x
      .kt-user-card__avatar
        %img.kt-hidden-{:alt => "Pic", :src => image_url('/assets/users/300_25.jpg')}/
        / use below badge element instead the user avatar to display username's first letter(remove kt-hidden class to display it)
        %span.kt-badge.kt-badge--username.kt-badge--unified-success.kt-badge--lg.kt-badge--rounded.kt-badge--bold.kt-hidden S
      .kt-user-card__name
        Sean Stone
      .kt-user-card__badge
        %span.btn.btn-label-primary.btn-sm.btn-bold.btn-font-md 23 messages
    / end: Head
    / begin: Navigation
    .kt-notification

      %a.kt-notification__item{:href => "custom/apps/user/profile-1/personal-information.html"}
        .kt-notification__item-icon
          %i.flaticon2-calendar-3.kt-font-success
        .kt-notification__item-details
          .kt-notification__item-title.kt-font-bold
            My Profile
          .kt-notification__item-time
            Account settings and more

      %a.kt-notification__item{:href => "custom/apps/user/profile-3.html"}
        .kt-notification__item-icon
          %i.flaticon2-mail.kt-font-warning
        .kt-notification__item-details
          .kt-notification__item-title.kt-font-bold
            My Messages
          .kt-notification__item-time
            Inbox and tasks

      %a.kt-notification__item{:href => "custom/apps/user/profile-2.html"}
        .kt-notification__item-icon
          %i.flaticon2-rocket-1.kt-font-danger
        .kt-notification__item-details
          .kt-notification__item-title.kt-font-bold
            My Activities
          .kt-notification__item-time
            Logs and notifications

      %a.kt-notification__item{:href => "custom/apps/user/profile-3.html"}
        .kt-notification__item-icon
          %i.flaticon2-hourglass.kt-font-brand
        .kt-notification__item-details
          .kt-notification__item-title.kt-font-bold
            My Tasks
          .kt-notification__item-time
            latest tasks and projects

      %a.kt-notification__item{:href => "custom/apps/user/profile-1/overview.html"}
        .kt-notification__item-icon
          %i.flaticon2-cardiogram.kt-font-warning
        .kt-notification__item-details
          .kt-notification__item-title.kt-font-bold
            Billing
          .kt-notification__item-time
            billing & statements
            
            %span.kt-badge.kt-badge--danger.kt-badge--inline.kt-badge--pill.kt-badge--rounded 2 pending
      .kt-notification__custom.kt-space-between
        %a.btn.btn-label.btn-label-brand.btn-sm.btn-bold{:href => "custom/user/login-v2.html", :target => "_blank"} Sign Out
        %a.btn.btn-clean.btn-sm.btn-bold{:href => "custom/user/login-v2.html", :target => "_blank"} Upgrade Plan
    / end: Navigation
/ end: User bar