<%= form_with(model: zone, local: true) do |form| %>
  <%# <% binding.pry %> %>

  <% if zone.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(zone.errors.count, "error") %> prohibited this zone from being saved:</h2>

      <ul>
        <% zone.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :next_channel_number %>
    <%= form.number_field :next_channel_number %>
  </div>

  <div class="field">
    <%= form.label :next_spacer_number %>
    <%= form.number_field :next_spacer_number %>
  </div>

  <div class="field">
    <%= form.label :last_channel_id %>
    <%= form.number_field :last_channel_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
