<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @zone.name %>
</p>

<p>
  <strong>Next channel number:</strong>
  <%= @zone.next_channel_number %>
</p>

<p>
  <strong>Next spacer number:</strong>
  <%= @zone.next_spacer_number %>
</p>

<p>
  <strong>Last channel:</strong>
  <%= @zone.last_channel_id %>
</p>

<%= link_to 'Edit', edit_admin_zone_path(@zone) %> |
<%= link_to 'Back', admin_zones_path %>
