- yield

.kt-container.kt-grid__item.kt-grid__item--fluid
  / Begin::Tasks
  #kt_todo.kt-grid.kt-grid--desktop.kt-grid--ver-desktop.kt-todo
    / Begin::Aside Mobile Toggle
    %button#kt_todo_aside_close.kt-todo__aside-close
      %i.la.la-close
    / End:: Aside Mobile Toggle
    -#= yield :dashboard_navigation
    = yield(:dashboard_navigation)
    / Begin:: Tasks Content
    #kt_todo_content.kt-grid__item.kt-grid__item--fluid.kt-todo__content
      .kt-todo__tasks-top
        = yield