<%= form_with(model: channel_user, local: true) do |form| %>
  <% if channel_user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(channel_user.errors.count, "error") %> prohibited this channel_user from being saved:</h2>

      <ul>
        <% channel_user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :channel_id %>
    <%= form.number_field :channel_id %>
  </div>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.number_field :user_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
