<p id="notice"><%= notice %></p>

<h1>Regras</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @regras.each do |regra| %>
      <tr>
        <td><%= regra.name %></td>
        <td><%= regra.description %></td>
        <td><%= link_to 'Show', regra %></td>
        <td><%= link_to 'Edit', edit_admin_regra_path(regra) %></td>
        <td><%= link_to 'Destroy', regra, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Regra', new_admin_regra_path %>
