<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @regra.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @regra.description %>
</p>

<%= link_to 'Edit', edit_regra_path(@regra) %> |
<%= link_to 'Back', admin_regras_path %>
