<%= form_with( local: true) do |form| %>
  <% if admin_rank.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(admin_rank.errors.count, "error") %> prohibited this admin_rank from being saved:</h2>

      <ul>
        <% admin_rank.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :admin_level %>
    <%= form.number_field :admin_level %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
