<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @admin_rank.name %>
</p>

<p>
  <strong>Admin level:</strong>
  <%= @admin_rank.admin_level %>
</p>

<%= link_to 'Edit', edit_admin_admin_rank_path(@admin_rank) %> |
<%= link_to 'Back', admin_admin_ranks_path %>
