/ begin: Header Menu
%button#kt_header_menu_mobile_close_btn.kt-header-menu-wrapper-close
  %i.la.la-close
#kt_header_menu_wrapper.kt-header-menu-wrapper{:style => "opacity: 1;"}
  #kt_header_menu.kt-header-menu.kt-header-menu-mobile
    %ul.kt-menu__nav
    
      %li.kt-menu__item.kt-menu__item--submenu.kt-menu__item--rel{"aria-haspopup" => "true", "data-ktmenu-submenu-toggle" => "click"}
        %a.kt-menu__link{ :href => admin_path}
          %span.kt-menu__link-text Admin Dashboard

      %li.kt-menu__item.kt-menu__item--submenu.kt-menu__item--rel{"aria-haspopup" => "true", "data-ktmenu-submenu-toggle" => "click"}
        %a.kt-menu__link{ :href => dashboard_path}
          %span.kt-menu__link-text Dashboard

      %li.kt-menu__item.kt-menu__item--submenu.kt-menu__item--rel{"aria-haspopup" => "true", "data-ktmenu-submenu-toggle" => "click"}
        %a.kt-menu__link{ :href => new_channel_path}
          %span.kt-menu__link-text Criar Canal

      %li.kt-menu__item.kt-menu__item--submenu.kt-menu__item--rel{"aria-haspopup" => "true", "data-ktmenu-submenu-toggle" => "click"}
        %a.kt-menu__link{ :href => channels_path}
          %span.kt-menu__link-text Canais
      
      %li.kt-menu__item.kt-menu__item--submenu.kt-menu__item--rel{"aria-haspopup" => "true", "data-ktmenu-submenu-toggle" => "click"}
        %a.kt-menu__link{ :href => staff_path}
          %span.kt-menu__link-text Staff
      
      %li.kt-menu__item.kt-menu__item--submenu.kt-menu__item--rel{"aria-haspopup" => "true", "data-ktmenu-submenu-toggle" => "click"}
        %a.kt-menu__link{ :href => servidores_path}
          %span.kt-menu__link-text Servidores
      
      %li.kt-menu__item.kt-menu__item--submenu.kt-menu__item--rel{"aria-haspopup" => "true", "data-ktmenu-submenu-toggle" => "click"}
        %a.kt-menu__link{ :href => regras_path}
          %span.kt-menu__link-text Regras

      %li.kt-menu__item.kt-menu__item--submenu.kt-menu__item--rel{"aria-haspopup" => "true", "data-ktmenu-submenu-toggle" => "click"}
        %a.kt-menu__link{ :href => users_path}
          %span.kt-menu__link-text Membros

      %li.kt-menu__item.kt-menu__item--submenu.kt-menu__item--rel{"aria-haspopup" => "true", "data-ktmenu-submenu-toggle" => "click"}
        %a.kt-menu__link{ :href => rank_path}
          %span.kt-menu__link-text Rank

      %li.kt-menu__item.kt-menu__item--submenu.kt-menu__item--rel{"aria-haspopup" => "true", "data-ktmenu-submenu-toggle" => "click"}
        %a.kt-menu__link{ :href => bans_path}
          %span.kt-menu__link-text Bans


      %li.kt-menu__item.kt-menu__item--submenu.kt-menu__item--rel{"aria-haspopup" => "true", "data-ktmenu-submenu-toggle" => "click"}
        %a.kt-menu__link{ :href => "/feedback" }
          %span.kt-menu__link-text Feedback


        -#   %i.kt-menu__hor-arrow.la.la-angle-down
        -#   %i.kt-menu__ver-arrow.la.la-angle-right
        
        -# .kt-menu__submenu.kt-menu__submenu--classic.kt-menu__submenu--left
        -#   %ul.kt-menu__subnav
        -#     %li.kt-menu__item.kt-menu__item--submenu{"aria-haspopup" => "true", "data-ktmenu-submenu-toggle" => "hover"}
        -#       %a.kt-menu__link.kt-menu__toggle{:href => "javascript:;"}
        -#         %i.kt-menu__link-icon.flaticon2-architecture-and-city
        -#         %span.kt-menu__link-text Forms & Controls
        -#         %i.kt-menu__hor-arrow.la.la-angle-right
        -#         %i.kt-menu__ver-arrow.la.la-angle-right
        -#       .kt-menu__submenu.kt-menu__submenu--classic.kt-menu__submenu--right
                
        -#         %ul.kt-menu__subnav
                  
                  
        -#           %li.kt-menu__item.kt-menu__item--submenu{"aria-haspopup" => "true", "data-ktmenu-submenu-toggle" => "hover"}
                    
        -#             %a.kt-menu__link.kt-menu__toggle{:href => "javascript:;"}
        -#               %i.kt-menu__link-bullet.kt-menu__link-bullet--dot
        -#                 %span
        -#               %span.kt-menu__link-text Crear Canal      
        -#             .kt-menu__submenu.kt-menu__submenu--classic.kt-menu__submenu--right
        -#               %ul.kt-menu__subnav
        -#                 %li.kt-menu__item{"aria-haspopup" => "true"}
        -#                   %a.kt-menu__link{:href => "crud/forms/controls/base.html"}
        -#                     %i.kt-menu__link-bullet.kt-menu__link-bullet--dot
        -#                       %span
                    
