#kt_subheader.kt-subheader.kt-grid__item
  .kt-container
    .kt-subheader__main
      %h3.kt-subheader__title
        Dashboard
      %span.kt-subheader__separator.kt-hidden
      .kt-subheader__breadcrumbs
        %a.kt-subheader__breadcrumbs-home{:href => "#"}
          %i.flaticon2-shelter
        %span.kt-subheader__breadcrumbs-separator
        %a.kt-subheader__breadcrumbs-link{:href => ""}
          Dashboards


    -# .kt-subheader__toolbar
    -#   .kt-subheader__wrapper
    -#     %a.btn.kt-subheader__btn-primary{:href => "#"}
    -#       Actions  
    -#       / <i class="flaticon2-calendar-1"></i>
    -#     .dropdown.dropdown-inline{"data-original-title" => "Quick actions", "data-placement" => "left", "data-toggle" => "kt-tooltip", :title => ""}
    -#       %a.btn.btn-icon{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#"}
    -#         %svg.kt-svg-icon.kt-svg-icon--success.kt-svg-icon--md{:height => "24px", :version => "1.1", :viewbox => "0 0 24 24", :width => "24px", :xmlns => "http://www.w3.org/2000/svg", "xmlns:xlink" => "http://www.w3.org/1999/xlink"}
    -#           %g{:fill => "none", "fill-rule" => "evenodd", :stroke => "none", "stroke-width" => "1"}
    -#             %polygon{:points => "0 0 24 0 24 24 0 24"}
    -#             %path{:d => "M5.85714286,2 L13.7364114,2 C14.0910962,2 14.4343066,2.12568431 14.7051108,2.35473959 L19.4686994,6.3839416 C19.8056532,6.66894833 20,7.08787823 20,7.52920201 L20,20.0833333 C20,21.8738751 19.9795521,22 18.1428571,22 L5.85714286,22 C4.02044787,22 4,21.8738751 4,20.0833333 L4,3.91666667 C4,2.12612489 4.02044787,2 5.85714286,2 Z", :fill => "#000000", "fill-rule" => "nonzero", :opacity => "0.3"}
    -#             %path{:d => "M11,14 L9,14 C8.44771525,14 8,13.5522847 8,13 C8,12.4477153 8.44771525,12 9,12 L11,12 L11,10 C11,9.44771525 11.4477153,9 12,9 C12.5522847,9 13,9.44771525 13,10 L13,12 L15,12 C15.5522847,12 16,12.4477153 16,13 C16,13.5522847 15.5522847,14 15,14 L13,14 L13,16 C13,16.5522847 12.5522847,17 12,17 C11.4477153,17 11,16.5522847 11,16 L11,14 Z", :fill => "#000000"}
    -#         / <i class="flaticon2-plus"></i>
    -#       .dropdown-menu.dropdown-menu-fit.dropdown-menu-md.dropdown-menu-right
            
            
    -#         / begin::Nav
    -#         %ul.kt-nav
    -#           %li.kt-nav__head
    -#             Add anything or jump to:
    -#             %i.flaticon2-information{"data-original-title" => "Click to learn more...", "data-placement" => "right", "data-toggle" => "kt-tooltip", :title => ""}
    -#           %li.kt-nav__separator
    -#           %li.kt-nav__item
    -#             %a.kt-nav__link{:href => "#"}
    -#               %i.kt-nav__link-icon.flaticon2-drop
    -#               %span.kt-nav__link-text Order
    -#           %li.kt-nav__item
    -#             %a.kt-nav__link{:href => "#"}
    -#               %i.kt-nav__link-icon.flaticon2-calendar-8
    -#               %span.kt-nav__link-text Ticket
    -#           %li.kt-nav__item
    -#             %a.kt-nav__link{:href => "#"}
    -#               %i.kt-nav__link-icon.flaticon2-telegram-logo
    -#               %span.kt-nav__link-text Goal
    -#           %li.kt-nav__item
    -#             %a.kt-nav__link{:href => "#"}
    -#               %i.kt-nav__link-icon.flaticon2-new-email
    -#               %span.kt-nav__link-text Support Case
    -#               %span.kt-nav__link-badge
    -#                 %span.kt-badge.kt-badge--success 5
    -#           %li.kt-nav__separator
    -#           %li.kt-nav__foot
    -#             %a.btn.btn-label-brand.btn-bold.btn-sm{:href => "#"} Upgrade plan
    -#             %a.btn.btn-clean.btn-bold.btn-sm{"data-original-title" => "Click to learn more...", "data-placement" => "right", "data-toggle" => "kt-tooltip", :href => "#", :title => ""} Learn more
    -#         / end::Nav
