<%= form_with(model: channel, local: true) do |form| %>
  <% if channel.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(channel.errors.count, "error") %> prohibited this channel from being saved:</h2>

      <ul>
        <% channel.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :status %>
    <%= form.text_field :status %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :channel_order %>
    <%= form.number_field :channel_order %>
  </div>

  <div class="field">
    <%= form.label :spacer_number %>
    <%= form.number_field :spacer_number %>
  </div>

  <div class="field">
    <%= form.label :empty_spacer_cid %>
    <%= form.number_field :empty_spacer_cid %>
  </div>

  <div class="field">
    <%= form.label :spacer_bar_cid %>
    <%= form.number_field :spacer_bar_cid %>
  </div>

  <div class="field">
    <%= form.label :group_id %>
    <%= form.number_field :group_id %>
  </div>

  <div class="field">
    <%= form.label :last_used %>
    <%= form.datetime_select :last_used %>
  </div>

  <div class="field">
    <%= form.label :zone_id %>
    <%= form.number_field :zone_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
