
.kt-portlet
  / Begin:: Tasks Toolbar
  .kt-todo__header
    %h3.kt-todo__title TeamSpeak
    / Begin:: Tasks Nav

.row
  .col-md-6
    .kt-portlet
      .kt-portlet__head
        .kt-portlet__head-label
          %h3.kt-portlet__head-title
            Welcome to the family
  .col-md-6
    / begin::Form
    / begin::Portlet
    .kt-portlet
      .kt-portlet__head
        .kt-portlet__head-label
          %h3.kt-portlet__head-title
            Base Controls
      / begin::Form

      %form.kt-form
        .kt-portlet__body
          -# .form-group.form-group-last
          -#   .alert.alert-secondary{:role => "alert"}
          -#     .alert-icon
          -#       %i.flaticon-warning.kt-font-brand
          -#     .alert-text
          -#       The example form below demonstrates common HTML form elements that receive updated styles from Bootstrap with additional classes.

          .form-group
            %label Nomde do Canal
            %input.form-control{"aria-describedby" => "emailHelp", :placeholder => "Enter email", :type => "email"}/
            %span.form-text.text-muted We'll never share your email with anyone else.

        .kt-portlet__foot
          .kt-form__actions
            %button.btn.btn-primary{:type => "reset"} Submit
            %button.btn.btn-secondary{:type => "reset"} Cancel
            %span
              = link_to 'Back', admin_channels_path

      / end::Form
      / end::Portlet
