
%p#notice= notice
%p
  %strong Status:
  = @channel.status
%p
  %strong Name:
  = @channel.name
%p
  %strong Channel order:
  = @channel.channel_order
%p
  %strong Spacer number:
  = @channel.spacer_number
%p
  %strong Empty spacer cid:
  = @channel.empty_spacer_cid
%p
  %strong Spacer bar cid:
  = @channel.spacer_bar_cid
%p
  %strong Group:
  = @channel.group_id
%p
  %strong Last used:
  = @channel.last_used
%p
  %strong Zone:
  = @channel.zone_id
= link_to 'Edit', edit_admin_channel_path(@channel)
|
\#{link_to 'Back', admin_channels_path}