.kt-container.kt-grid__item.kt-grid__item--fluid
  / begin::Portlet
  .kt-portlet.kt-portlet--mobile
    .kt-portlet__body.kt-portlet__body--fit
      / begin: Datatable
      #kt_apps_user_list_datatable.kt-datatable.kt-datatable--default.kt-datatable--brand.kt-datatable--loaded{:style => ""}
        %table.kt-datatable__table{:style => "display: block;"}
          %thead.kt-datatable__head
            %tr.kt-datatable__row{:style => "left: 0px;"}
              %th.kt-datatable__cell--center.kt-datatable__cell.kt-datatable__cell--check{"data-field" => "RecordID"}
                %span{:style => "width: 20px;"}
                  %label.kt-checkbox.kt-checkbox--single.kt-checkbox--all.kt-checkbox--solid
                    %input{:type => "checkbox"}>/
                    \ 
                    %span
              %th.kt-datatable__cell.kt-datatable__cell--sort{"data-field" => "AgentName"}
                %span{:style => "width: 200px;"} User
              %th.kt-datatable__cell.kt-datatable__cell--sort{"data-field" => "Country"}
                %span{:style => "width: 140px;"} Country
              %th.kt-datatable__cell.kt-datatable__cell--sort{"data-field" => "ShipDate"}
                %span{:style => "width: 140px;"} Ship Date
              %th.kt-datatable__cell.kt-datatable__cell--sort{"data-autohide-disabled" => "false", "data-field" => "ShipName"}
                %span{:style => "width: 252px;"} Company
              %th.kt-datatable__cell.kt-datatable__cell--sort{"data-field" => "Status"}
                %span{:style => "width: 100px;"} Status
              %th.kt-datatable__cell.kt-datatable__cell--sort{"data-autohide-disabled" => "false", "data-field" => "Type"}
                %span{:style => "width: 110px;"} Type
              %th.kt-datatable__cell.kt-datatable__cell--sort{"data-autohide-disabled" => "false", "data-field" => "Actions"}
                %span{:style => "width: 80px;"} Actions
          %tbody.kt-datatable__body{:style => ""}
            %tr.kt-datatable__row{"data-row" => "0", :style => "left: 0px;"}
              %td.kt-datatable__cell--center.kt-datatable__cell.kt-datatable__cell--check{"data-field" => "RecordID"}
                %span{:style => "width: 20px;"}
                  %label.kt-checkbox.kt-checkbox--single.kt-checkbox--solid
                    %input{:type => "checkbox", :value => "1"}>/
                    \ 
                    %span
              %td.kt-datatable__cell{"data-field" => "AgentName"}
                %span{:style => "width: 200px;"}
                  .kt-user-card-v2
                    .kt-user-card-v2__pic
                      .kt-badge.kt-badge--xl.kt-badge--success N
                    .kt-user-card-v2__details
                      %a.kt-user-card-v2__name{:href => "#"} Nixie Sailor
                      %span.kt-user-card-v2__desc Developer
              %td.kt-datatable__cell{"data-field" => "Country"}
                %span{:style => "width: 140px;"} China CN
              %td.kt-datatable__cell{"data-field" => "ShipDate"}
                %span{:style => "width: 140px;"} 2/12/2018
              %td.kt-datatable__cell{"data-autohide-disabled" => "false", "data-field" => "ShipName"}
                %span{:style => "width: 252px;"}
                  .kt-user-card-v2
                    .kt-user-card-v2__pic
                      %img{:alt => "photo", :src => "/assets/client-logos/logo1.png"}/
                    .kt-user-card-v2__details
                      %a.kt-user-card-v2__name{:href => "#"} Gleichner, Ziemann and Gutkowski
                      %span.kt-user-card-v2__email Angular, React
              %td.kt-datatable__cell{"data-field" => "Status"}
                %span{:style => "width: 100px;"}
                  %span.btn.btn-bold.btn-sm.btn-font-sm.btn-label-success Success
              %td.kt-datatable__cell{"data-autohide-disabled" => "false", "data-field" => "Type"}
                %span{:style => "width: 110px;"}
                  %span.kt-badge.kt-badge--primary.kt-badge--dot>
                  \ 
                  %span.kt-font-bold.kt-font-primary Retail
              %td.kt-datatable__cell{"data-autohide-disabled" => "false", "data-field" => "Actions"}
                %span{:style => "overflow: visible; position: relative; width: 80px;"}
                  .dropdown
                    %a.btn.btn-sm.btn-clean.btn-icon.btn-icon-md{"data-toggle" => "dropdown"}
                      %i.flaticon-more-1
                    .dropdown-menu.dropdown-menu-right
                      %ul.kt-nav
                        %li.kt-nav__item
                          %a.kt-nav__link{:href => "#"}
                            %i.kt-nav__link-icon.flaticon2-expand
                            %span.kt-nav__link-text View
                        %li.kt-nav__item
                          %a.kt-nav__link{:href => "#"}
                            %i.kt-nav__link-icon.flaticon2-contract
                            %span.kt-nav__link-text Edit
                        %li.kt-nav__item
                          %a.kt-nav__link{:href => "#"}
                            %i.kt-nav__link-icon.flaticon2-trash
                            %span.kt-nav__link-text Delete
                        %li.kt-nav__item
                          %a.kt-nav__link{:href => "#"}
                            %i.kt-nav__link-icon.flaticon2-mail-1
                            %span.kt-nav__link-text Export
            %tr.kt-datatable__row.kt-datatable__row--even{"data-row" => "1", :style => "left: 0px;"}
              %td.kt-datatable__cell--center.kt-datatable__cell.kt-datatable__cell--check{"data-field" => "RecordID"}
                %span{:style => "width: 20px;"}
                  %label.kt-checkbox.kt-checkbox--single.kt-checkbox--solid
                    %input{:type => "checkbox", :value => "2"}>/
                    \ 
                    %span
              %td.kt-datatable__cell{"data-field" => "AgentName"}
                %span{:style => "width: 200px;"}
                  .kt-user-card-v2
                    .kt-user-card-v2__pic
                      .kt-badge.kt-badge--xl.kt-badge--warning E
                    .kt-user-card-v2__details
                      %a.kt-user-card-v2__name{:href => "#"} Emelita Giraldez
                      %span.kt-user-card-v2__desc Developer
              %td.kt-datatable__cell{"data-field" => "Country"}
                %span{:style => "width: 140px;"} Indonesia ID
              %td.kt-datatable__cell{"data-field" => "ShipDate"}
                %span{:style => "width: 140px;"} 8/6/2017
              %td.kt-datatable__cell{"data-autohide-disabled" => "false", "data-field" => "ShipName"}
                %span{:style => "width: 252px;"}
                  .kt-user-card-v2
                    .kt-user-card-v2__pic
                      %img{:alt => "photo", :src => "/assets/client-logos/logo2.png"}/
                    .kt-user-card-v2__details
                      %a.kt-user-card-v2__name{:href => "#"} Rosenbaum-Reichel
                      %span.kt-user-card-v2__email Vue, Kendo
              %td.kt-datatable__cell{"data-field" => "Status"}
                %span{:style => "width: 100px;"}
                  %span.btn.btn-bold.btn-sm.btn-font-sm.btn-label-danger Done
              %td.kt-datatable__cell{"data-autohide-disabled" => "false", "data-field" => "Type"}
                %span{:style => "width: 110px;"}
                  %span.kt-badge.kt-badge--success.kt-badge--dot>
                  \ 
                  %span.kt-font-bold.kt-font-success Direct
              %td.kt-datatable__cell{"data-autohide-disabled" => "false", "data-field" => "Actions"}
                %span{:style => "overflow: visible; position: relative; width: 80px;"}
                  .dropdown
                    %a.btn.btn-sm.btn-clean.btn-icon.btn-icon-md{"data-toggle" => "dropdown"}
                      %i.flaticon-more-1
                    .dropdown-menu.dropdown-menu-right
                      %ul.kt-nav
                        %li.kt-nav__item
                          %a.kt-nav__link{:href => "#"}
                            %i.kt-nav__link-icon.flaticon2-expand
                            %span.kt-nav__link-text View
                        %li.kt-nav__item
                          %a.kt-nav__link{:href => "#"}
                            %i.kt-nav__link-icon.flaticon2-contract
                            %span.kt-nav__link-text Edit
                        %li.kt-nav__item
                          %a.kt-nav__link{:href => "#"}
                            %i.kt-nav__link-icon.flaticon2-trash
                            %span.kt-nav__link-text Delete
                        %li.kt-nav__item
                          %a.kt-nav__link{:href => "#"}
                            %i.kt-nav__link-icon.flaticon2-mail-1
                            %span.kt-nav__link-text Export
        .kt-datatable__pager.kt-datatable--paging-loaded
          %ul.kt-datatable__pager-nav{:style => "display: none;"}
            %li
              %a.kt-datatable__pager-link.kt-datatable__pager-link--first.kt-datatable__pager-link--disabled{"data-page" => "1", :disabled => "disabled", :title => "First"}
                %i.flaticon2-fast-back
            %li
              %a.kt-datatable__pager-link.kt-datatable__pager-link--prev.kt-datatable__pager-link--disabled{"data-page" => "1", :disabled => "disabled", :title => "Previous"}
                %i.flaticon2-back
            %li{:style => ""}
            %li{:style => "display: none;"}
              %input.kt-pager-input.form-control{:title => "Page number", :type => "text"}/
            %li
              %a.kt-datatable__pager-link.kt-datatable__pager-link-number.kt-datatable__pager-link--active{"data-page" => "1", :title => "1"} 1
            %li{:style => ""}
            %li
              %a.kt-datatable__pager-link.kt-datatable__pager-link--next.kt-datatable__pager-link--disabled{"data-page" => "1", :disabled => "disabled", :title => "Next"}
                %i.flaticon2-next
            %li
              %a.kt-datatable__pager-link.kt-datatable__pager-link--last.kt-datatable__pager-link--disabled{"data-page" => "1", :disabled => "disabled", :title => "Last"}
                %i.flaticon2-fast-next
          .kt-datatable__pager-info
            .dropdown.bootstrap-select.kt-datatable__pager-size{:style => "width: 60px;"}
              %select.selectpicker.kt-datatable__pager-size{"data-selected" => "50", "data-width" => "60px", :tabindex => "-98", :title => "Select page size"}
                %option.bs-title-option{:value => ""}
                %option{:value => "10"} 10
                %option{:value => "20"} 20
                %option{:value => "30"} 30
                %option{:value => "50"} 50
                %option{:value => "100"} 100
              %button.btn.dropdown-toggle.btn-light{"aria-expanded" => "false", "aria-haspopup" => "listbox", "aria-owns" => "bs-select-1", "data-toggle" => "dropdown", :role => "combobox", :title => "Select page size", :type => "button"}
                .filter-option
                  .filter-option-inner
                    .filter-option-inner-inner 50
              .dropdown-menu
                #bs-select-1.inner.show{:role => "listbox", :tabindex => "-1"}
                  %ul.dropdown-menu.inner.show{:role => "presentation"}
            %span.kt-datatable__pager-detail Showing 1 - 40 of 40
      / end: Datatable
  / end::Portlet
  / begin::Modal
  #kt_datatable_records_fetch_modal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "exampleModalLabel", :role => "dialog", :tabindex => "-1"}
    .modal-dialog.modal-dialog-centered{:role => "document"}
      .modal-content
        .modal-header
          %h5#exampleModalLabel.modal-title Selected Records
          %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
            %span{"aria-hidden" => "true"}
        .modal-body
          .kt-scroll.ps{"data-height" => "200", "data-scroll" => "true", :style => "height: 200px; overflow: hidden;"}
            %ul#kt_apps_user_fetch_records_selected
            .ps__rail-x{:style => "left: 0px; bottom: 0px;"}
              .ps__thumb-x{:style => "left: 0px; width: 0px;", :tabindex => "0"}
            .ps__rail-y{:style => "top: 0px; right: 0px;"}
              .ps__thumb-y{:style => "top: 0px; height: 0px;", :tabindex => "0"}
        .modal-footer
          %button.btn.btn-brand{"data-dismiss" => "modal", :type => "button"} Close
  / end::Modal
-# # <table>
-# #   <thead>
-# #     <tr>
-# #       <th>Name</th>
-# #       <th>Status</th>
-# #       <th>Nickname</th>
-# #       <th colspan="3"></th>
-# #     </tr>
-# #   </thead>

-# #   <tbody>
-# #     <% @users.each do |user| %>
-# #       <tr>
-# #         <td><%= user.name %></td>
-# #         <td><%= user.status %></td>
-# #         <td><%= user.nickname %></td>
-# #         <td><%= link_to 'Show', user %></td>
-# #         <td><%= link_to 'Edit', edit_user_path(user) %></td>
-# #         <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
-# #       </tr>
-# #     <% end %>
-# #   </tbody>
-# # </table>

-# # <br>

-# # <%= link_to 'New User', new_user_path %>
