
%h1 lool

-# <p id="notice"><%= notice %></p>

-# <p>
-#   <strong>Name:</strong>
-#   <%= @user.name %>
-# </p>

-# <p>
-#   <strong>Status:</strong>
-#   <%= @user.status %>
-# </p>

-# <p>
-#   <strong>Nickname:</strong>
-#   <%= @user.nickname %>
-# </p>

= link_to 'Edit', edit_admin_user_path(@user)
= link_to 'Back', admin_users_path 
