
-# <h1>Footer</h1>

/ begin:: Footer

#kt_footer.kt-footer.kt-grid__item
  .kt-container
    .kt-footer__wrapper
      .kt-footer__copyright
        2019 © 
        %a.kt-link{:href => "http://keenthemes.com/metronic", :target => "_blank"} Keenthemes
      .kt-footer__menu
        %a.kt-link{:href => "http://keenthemes.com/metronic", :target => "_blank"} About
        %a.kt-link{:href => "http://keenthemes.com/metronic", :target => "_blank"} Team
        %a.kt-link{:href => "http://keenthemes.com/metronic", :target => "_blank"} Contact
/ end:: Footer

