#kt_header.kt-header.kt-grid__item.kt-header--fixed{"data-ktheader-minimize" => "on"}
  .kt-header__top
    .kt-container
      / begin:: Brand
      #kt_header_brand.kt-header__brand.kt-grid__item
        .kt-header__brand-logo
          %a{:href => "/"}
            %img.kt-header__brand-logo-default{:alt => "Logo", :src => image_url('/assets/logo.png')}/
            %img.kt-header__brand-logo-sticky{:alt => "Logo", :src => image_url('/assets/logo-inverse.png') }/
      / end:: Brand


      -# Top Bar
      .kt-header__topbar
        =  render 'layouts/header/topbar/notifications'
        =  render 'layouts/header/topbar/language'
        =  render 'layouts/header/topbar/user'


  .kt-header__bottom

    .kt-container
      = render 'layouts/header/nav'
