!!!
%html{:lang => "en"}
  / begin::Head
  %head
    = csrf_meta_tags
    = csp_meta_tag
    %base{:href => ""}/
    %meta{:charset => "utf-8"}/
    %title= @page_title
    %meta{:content => "Latest updates and statistic charts", :name => "description"}/
    %meta{:content => "width=device-width, initial-scale=1, shrink-to-fit=no", :name => "viewport"}/
    / begin::Fonts
    %link{:href => "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700|Asap+Condensed:500", :rel => "stylesheet"}/
    / end::Fonts

    = stylesheet_link_tag 'metronic'

    -# = javascript_link_tag 'metronic'

    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'

    = javascript_pack_tag 'react-bundle'
    = stylesheet_pack_tag 'react-bundle' 

    / begin::Layout Skins(used by all pages)
    / end::Layout Skins
    %link{:href => "assets/logos/favicon.ico", :rel => "shortcut icon"}/

  %body.kt-quick-panel--right.kt-demo-panel--right.kt-offcanvas-panel--right.kt-header--fixed.kt-header-mobile--fixed.kt-subheader--enabled.kt-subheader--transparent{"data-gr-c-s-loaded" => "true", :style => "background-image: url('/assets/bg-1.jpg')"}
    
    -# =  render 'layouts/header/header_mobile'

    .kt-grid.kt-grid--hor.kt-grid--root
      .kt-grid__item.kt-grid__item--fluid.kt-grid.kt-grid--ver.kt-page
        #kt_wrapper.kt-grid__item.kt-grid__item--fluid.kt-grid.kt-grid--hor.kt-wrapper
        
          =  render 'layouts/header'
          .kt-container.kt-grid__item.kt-grid__item--fluid.kt-grid.kt-grid--hor.kt-grid--stretch
            #kt_body.kt-body.kt-grid__item.kt-grid__item--fluid.kt-grid.kt-grid--hor.kt-grid--stretch
              #kt_content.kt-content.kt-grid__item.kt-grid__item--fluid.kt-grid.kt-grid--hor
                / begin:: Subheader
                =  render 'layouts/header/page_header'
                / begin:: Content
                .kt-container.kt-grid__item.kt-grid__item--fluid
                  = yield
          =  render 'layouts/footer'

    = javascript_include_tag 'metronic'
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'

